@model UserUpdateViewModel
@{
    ViewData["Title"] = "AuthorEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Author Profile Edit</h4>
            <br />
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Name & Last Name</label>
                    <input type="text" asp-for="@Model.name_surname" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">UserName</label>
                    <input type="text" asp-for="@Model.username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Email address</label>
                    <input type="text" asp-for="@Model.mail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3"> New Password</label>
                    <input type="text" asp-for="@Model.password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Image Url</label>
                    <input type="text" asp-for="@Model.imageurl" class="form-control" />
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Update</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
</div>


